---
import RenderPortableText from '@/components/RenderPortableText';
import Layout from '@/components/Layout.astro';
import { getArticleBySlug } from '@/services/article/getArticleBySlug';
import { getCategoriesMenu } from '@/functions/getCategoriesMenu';
import Hero from '@/features/article/components/Hero.astro';
import Aside from '@/features/article/components/Aside.astro';
import type { ISeo } from '@/interfaces/ISeo';
import { getGraphBlogPost } from '@/helpers/getGraphBlogPost';

const { slug } = Astro.params;

const article = slug && (await getArticleBySlug(slug, true));

if (!article) {
  return Astro.redirect('/404');
}

const categoriesMenu = article.articleCategory?._id
  ? await getCategoriesMenu(article.articleCategory?._id)
  : [];

const metaTitle = article?.metaTitle || article.title;
const metaSeo: ISeo = {
  metaTitle: metaTitle,
  metaDescription: article?.metaDesc || '',
  metaImage: article?.imageMain?.asset?.url,
};

const graphPost = getGraphBlogPost(article);
---

<Layout schema={graphPost} categoriesMenu={categoriesMenu} metaSeo={metaSeo}>
  <div class="article wrapper">
    <div id="breadcrumb">
      <span class="category">Accueil / {article.articleCategory?.title}</span>
    </div>
    <h1 class="title">{article.title}</h1>
    <Hero article={article} />
    <div class="main-content">
      <div class="wrapper-rich-text">
        <RenderPortableText portableText={article.content} />
      </div>
      <!-- <div>
        <Aside />
      </div> -->
    </div>
  </div>
</Layout>

<style lang="scss" is:global>
  .article {
    &.wrapper {
      padding: 88px 0 44px;
      @media screen and (max-width: 766px) {
        padding: 24px 0;
      }
    }

    .main-content {
      position: relative;
      display: flex;
      gap: 64px;
      @media screen and (max-width: 1024px) {
        flex-direction: column;
        gap: 24px;
      }
    }

    .wrapper-rich-text {
      max-width: 880px;
      margin-left: auto;
      margin-right: auto;
      font-size: 18px;
      line-height: 1.4;
      > p {
        margin-top: 0;
      }
      h2,
      h3 {
        margin: 24px 0;
        font-size: 48px;
        line-height: 1.225;
        font-weight: 400;
        @media screen and (max-width: 766px) {
          margin: 24px 0 16px;
          font-size: 24px;
        }
      }
      h2 {
        font-size: 52px;
        @media screen and (max-width: 766px) {
          font-size: 28px;
        }
      }
      h4 {
        margin: 36px 0 24px;
        font-size: 40px;
        line-height: 48px;
        font-weight: 400;
        @media screen and (max-width: 766px) {
          margin: 24px 0 16px;
          font-size: 20px;
          line-height: 24px;
        }
      }
    }
    .category {
      font-size: 14px;
      text-transform: uppercase;
      font-variation-settings: 'wght' 300;
      letter-spacing: 3px;
    }
    .title {
      font-size: 60px;
      font-weight: 400;
      @media screen and (max-width: 766px) {
        font-size: 24px;
      }
    }
  }
</style>
