---
import { seoConfig } from '@/config';
import type { ISeo } from '@/interfaces/ISeo';
import type { Graph } from 'schema-dts';

export interface Props {
  metaSeo: ISeo;
  schema?: Graph;
}

const { metaSeo, schema } = Astro.props as Props;
---

{metaSeo?.metaTitle && <title>{metaSeo.metaTitle}</title>}

{
  metaSeo?.metaDescription && (
    <>
      <meta name="description" content={metaSeo?.metaDescription} />
      <meta property="og:description" content={metaSeo?.metaDescription} />
    </>
  )
}

{metaSeo?.metaImage && <meta property="og:image" content={metaSeo.metaImage} />}
{
  metaSeo?.canonical && (
    <link rel="canonical" href={`${seoConfig.baseURL}${metaSeo.canonical}`} />
  )
}

{
  schema && (
    <script type="application/ld+json" set:html={JSON.stringify(schema)} />
  )
}
