---
import '@/assets/fonts.css';
import '@/assets/quill.css';
import '@/assets/global.scss';
import '@/assets/messages.scss';

import type { SanityCategory } from '@/interfaces/SanityCategory';
import { getSession } from 'auth-astro';
import { authOpts } from '../pages/api/auth/[...astroAuth]';
import Footer from './Footer';
import NavbarAdmin from './NavbarAdmin.astro';
import NavbarGoogle from './NavbarGoogle.astro';
import type { ISeo } from '@/interfaces/ISeo';
import HeaderSeo from './HeaderSeo.astro';
import type { Graph } from 'schema-dts';

export interface Props {
  categoriesMenu?: SanityCategory[];
  metaSeo: ISeo;
  schema?: Graph;
}

const { categoriesMenu, metaSeo, schema } = Astro.props as Props;

const isAdminRoute = Astro.url.pathname.includes('/admin/');
let session = await getSession(Astro.request, authOpts);
let accessGranted = true;

if (isAdminRoute && !session) {
  accessGranted = false;
}
---

<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <HeaderSeo schema={schema} metaSeo={metaSeo} />
  </head>
  <body>
    <main class="conteneur">
      {accessGranted ? <slot /> : <h1>Rien à voir ici</h1>}
    </main>
    <header>
      <NavbarAdmin session={session} />
      <NavbarGoogle categoriesMenu={categoriesMenu} />
    </header>
    <Footer client:only />
  </body>
</html>
